@import './reset.css';

/* intro */
#intro{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}

#wrap{
  position: relative;

  /* header */
  header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo_area{
      a{
        display: inline-block;
        img{
          width: 60px;
          height: auto;
        }
      }
    }

    nav{
      width: 800px;
      height: 100%;

      ul{
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li{
          width: 100%;
          height: 100%;
          text-align: center;
          /* padding: 0 20px; */

          a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: inherit;
            height: inherit;

            p{
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }

  /* main */
  main{

    .visual{
      width: 100%;
      height: 900px;
      overflow: hidden;

      img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

      /* swiper css */
      .mySwiper{
        position: relative;

        .swiper-wrapper{
          position: relative;

          .swiper-slide{
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .swiper-scrollbar{
          background: #fff;

          .swiper-scrollbar-drag{
            background: pink !important;
            width: 300px !important;
          }
        }
      }


    section{
      min-height: 800px; /* sectrion 최소 높이 고정*/
      padding: 0 30px;
      width: 100%;

      &.content1{
      background: #696969; 
      }
      &.content2{
        background: blanchedalmond;
      }
      &.content3{
        background: orchid;
      }
      &.content4{
        #club_map{
          width: 500px;
          height: 500px;
          margin: 100px auto;
        }
      }
    }
  
  }

  /* footer */
  footer{
    width: 100%;
    min-height: 100px;
    height: 200px;
    background: #ccc;/* 영역 확인용 백그라운드 칼라 */

    button.topBtn{
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      width: 50px;
      height: 50px;
      text-align: center;
      border: 1px solid blue;
      background: rgba(blue, blue, blue, .4);
    }

    address{
      margin: 0 auto;
      color: #999;
      text-align: center;

      p{
        font-size: .9em;
        margin-bottom: 5px;
      }
      .copyright{
        font-size: .7em;
        font-family: 'Raleway';
        font-style: italic;
      }
    }
  }
}